/* Mode Awal */
.body{
    background-color: grey;
}

.navbar-nav{
    margin-left: 80px;;
}

.nav-link{
    margin-right: 30px;
}

.jumbotron{
    background-image: url('jumbotron.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    color: white;
}

.cardjumbotron{
    text-align: center;
}

.tombol{
    border-radius: 30px;
}

.besar img{
    height: 217px;
}

ul li{
    list-style: none;
}




/* Desktop Mode */
@media(min-width:992px){
    .navbar-nav{
        margin-left: 50px;;
    }
    
    .nav-link{
        margin-right: 30px;
    }
    
    .search{
        margin-left: 90px;
    }

    .jumbotron{
        background-image: url('jumbotron.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
    }

    .cardjumbotron{
        text-align: left;
    }

    .besar img{
        height: 285px;
    }
}    
